
<div class = "beCenter">
<div class="form" >
    <% if @airplane != nil %>
        <% if @airplane.errors.any? %>
            <strong>Please corrrect the following:</strong>
            <ul>
                <% @airplane.errors.full_messages.each do |e| %>
                    <li><%= e %></li>

                <% end %>
            </ul>
        <% end  %>
     <% end  %>
</div>
</div>

<div class = "beCenter">
    <%= form_with model: @airplane, local: true do |f| %>

        
        <%= f.text_field :name, placeholder:'What is the name of this plane?' %>
        <br>
        
        <%= f.text_field :row, placeholder:'How many ROWS (#) are there?' %>
        <br>
        <%= f.text_field :column, placeholder:'How many COLUMNS (A-E) are there?' %>
        <br>
        <%= f.label :total_seats %>
        <%= f.number_field :total_seats %>
        <br>
    
        

        <%= f.submit class:"button"%>
    <% end %>

</div>