
<div class = "beCenter">
<h2>All Airplanes</h2>
</div>

<div class = "beCenter">
<% if @current_user.present? && @current_user.admin %>
    <%= link_to 'Add Plane', new_airplane_path %>
<% end %>
</div>

<% @airplanes.each do |plane|  %> 
<div class = "beCenter">

    <%= link_to plane.name, airplane_path(plane.id) %></p>
    <ul>
        <li>Total row /column:<%= plane.row %> <%= plane.column %></li>
        <li>Total number of seats: <%= plane.total_seats %></li>
    
    </ul>
    
</div>
<% end %>