
<h2>All Reservations</h2>

<%= link_to 'New Reservations', new_reservation_path %>

<% @reservations.each do |r|  %> 
    <p><%= r.row %> <%= r.column %>
    <p>Booked by <%= r.user.name %> 
    <p>For flight <%= r.flight.origin%> >> <%= r.flight.destination %> on <%=r.flight.date %> flying by <%= r.flight.airplane.name%>



<% end %>

<%= @allDate %>
