
<div class = "beCenter">
<h2>All Reservations</h2>
</div>

<div class = "beCenter">
<% if @current_user.present? %>
    <%= link_to 'New Reservations', new_reservation_path %>
<% end %>
</div>


<% @reservations.each do |r|  %> 
<div class = "beCenter">
<div class = "reservationBox">
<ul>
    <li><%= r.row %> <%= r.column %></li>

    <li>Booked by <%= r.user.name %></li>

    <li><%= r.flight.origin%> >> <%= r.flight.destination %> on <%=r.flight.date %></li>

    <li>flying by <%= r.flight.airplane.name%></li>
</ul>

</div>
</div>

<% end %>


<%= @allDate %>
