<!DOCTYPE html>
<html>
  <head>
    <title>BurningAirlinesServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
    <header>
    <div class = "beCenter">
      <h1>Welcome to Burning Airlines</h1>
    </div>

    <div class = "beCenter">
      <% if @current_user.present? %>
        Welcome, <%= @current_user.name %>
        &nbsp;&nbsp;&nbsp;&nbsp;    
        <%= link_to 'Logout', login_path, method: 'delete' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <% else %>
        <%= link_to 'Login', login_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Sign up', new_user_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>



      <%= link_to 'Home', root_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'All Flights', flights_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'All Airplanes', airplanes_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <% if @current_user.present? && @current_user.admin %>
        <%= link_to 'All Reservations', reservations_path %>
      <% end %>
    
    </div>
    </header>

    <%= yield %>
  </body>

</html>
